<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <a class="nav-item nav-link" routerLink="/heroes">Heroes</a>
      <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <app-hero-search></app-hero-search>
    </div>
    <div class="col-md-5">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
      <app-messages></app-messages>
    </div>
  </div>
</div>
