/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 3em;
  position: relative;
  left: -1px;
  height: 3rem;
  min-width: 30px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 0;
}

.hero-data {
  width: 100%;
  min-height: 3rem;
  border-radius: 4px 0 0 0;
  border: 1px solid lightgray;
}

.hero-actions {
  width: 100%;
  margin-bottom: 3px;
  display: inline-block !important;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.hero-actions button {
  float: right;
}




